# ---------------------------------
# User Config
# ---------------------------------
[user]
	name = AlexYeates
	email = hi@alexyeates.com  

# ---------------------------------
# Alias
# ---------------------------------
[alias]
	i = init
	p = push
	a = add .
	c = commit -m

lm = ! git pull origin master && git push origin master
ld = pull origin development && push origin development

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
