# ---------------------------------
# User Config
# ---------------------------------
[user]
	name = AlexYeates
	email = hi@alexyeates.com  

# ---------------------------------
# Alias
# ---------------------------------
[alias]
	i = init

a = ! git add . && git commit -m
lm = ! git pull origin master && git push origin master
ld = ! git pull origin development && git push origin development
lad = ! git pull origin develop


[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
